{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h1>
    Edit Activity
</h1>
    <form method="POST">
      <d1>
          {{ render_field(form.title) }}
          {{ render_field(form.activity) }}
          {{ render_field(form.start_time) }}
          {{ render_field(form.end_time) }}
          {{ render_field(form.start_location) }}
          {{ render_field(form.end_location) }}
          {{ render_field(form.notes) }}
      </d1>
    <input type="submit" value="Go">
</form>
{% endblock %}