{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
    <h3> Starting Point </h3>

    {% with start_map=googlemap_obj("start-map",
                maps['start_map'].center[0],
                maps['start_map'].center[1],
                markers=maps['start_map'].markers) %}
            {{start_map.html}}
            {{start_map.js}}
        {% endwith %}

    <h3> Ending Point </h3>
        {% with end_map=googlemap_obj("end_map",
                maps['end_map'].center[0],
                maps['end_map'].center[1],
                markers=maps['end_map'].markers) %}
            {{end_map.html}}
            {{end_map.js}}
        {% endwith %}

    <h3> Full Map with Markers </h3>
        {% with full_map=googlemap_obj("full_map",
                maps['start_end_map'].center[0],
                maps['start_end_map'].center[1],
                markers=maps['start_end_map'].markers) %}
            {{full_map.html}}
            {{full_map.js}}
        {% endwith %}
{% endblock %}